@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

:root {
  --color-primary: #10163a;
  --color-secondary: #212744;
  --color-background: #262c49;
  --color-gray-light: #7da1bc;
  --color-blue-light: #00cfff;
  --color-white: #ffffff;
  --color-hover: #055bd8;
  --color-active: #71efff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background: var(--color-background);
  color: var(--color-white);
  overflow-x: hidden;
}

body,
.sticky-footer-wrapper {
  min-height: 100vh;
}

/* lateral menu effects styles */
a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  transition: color 0.2s;
  text-decoration: none;
  color: var(--color-hover);
}

a:hover svg {
  transition: color 0.2s;
  color: var(--color-hover);
}

* {
  box-sizing: border-box;
}

/* Change the default calendar color to white */
input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(0.7);
  transition: filter 0.2s;
}

input[type='date']::-webkit-calendar-picker-indicator:hover {
  filter: invert(1);
}
